.footer {
  padding: 3rem 1rem;
  background-color: #666;
  color: white;
}

.title {
  margin-bottom: 4rem;
}

.links {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    padding-bottom: 2px;
    border-bottom: 2px white solid;
    color: white;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}