.title {
  font-size: 1.25rem;
  color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #ccc solid;
  padding: .5rem;
  
  a {
    text-decoration: none;
    margin-bottom: 0;
  }
}

.links {
  display: flex;
  
  a {
    color: black;
  }
}

.mobileMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
}