.title {
  font-size: 1.25rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #ccc solid;
  padding: .5rem 0 .5rem .5rem;
}

.links {
  display: flex;
  
  a {
    text-decoration: none;
  }
}